PSRemoting/PhoneAppUnitTests/Service References/ServiceReference1/IPSRemotingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Service" elementFormDefault="qualified" targetNamespace="Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.249:8000/IPSRemotingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="invokeCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="datainput" nillable="true" type="q1:PSRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invokeCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="invokeCommandResult" nillable="true" type="q2:PSResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>