WcfPhoneAppTest1/WcfPhoneAppTest1/Service References/ServiceReference1/IPSRemotingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Service" elementFormDefault="qualified" targetNamespace="Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="malZwei">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="malZweiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="malZweiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invokeCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invokeCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invokeCommandResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>